body {
    background: #C0C0C0;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}
.BlogTx{
    color: white;
}
.blogT{
    color: white;
}
.BlogP{
    width: 150px;
    height: fit-content;
    background-color: rebeccapurple;
    border-radius: 5px;
    margin-top: 10px;
}
.BlogSec{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center ;
}
nav{
    justify-content: center;
    justify-items: center;
    display: flex;
}
a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}
.Post-Add{
    display: grid;
    grid-template-columns: 200px;
    justify-content: center;
}
.Post-p{
    display: flex;
    justify-content: center;
}