body {
    background: #C0C0C0;
    margin: 0;
    padding: 0;
}
.BlogTx{
    color: white;
}
.blogT{
    color: white;
}
.BlogP{
    width: 150px;
    height: 300px;
    background-color: rebeccapurple;
    border-radius: 5px;
    margin-top: 10px;
}
.BlogSec{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}